<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1></h1>
    <p>
      <%= @user.name %> successfully signed up to example.com
      It's confirmation email
    </p>
    <p>
      Please approved <%= @user.name %>
      Admin has approved your status now can access website
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
