<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1></h1>
    <p>
      <%= @user.name %> successfully signed up to example.com
      and your username is: <%= @user.username %>.<br>
    </p>
    <p>
      Please wait for Admin Approvel
    </p>
  </body>
</html>
